<div class="custom-dialog-title">
  <div class="dialog-header-content">
    <h5>Coming Soon</h5>
    <button class="close-icon" (click)="closeDialog()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>

<mat-dialog-content class="upcoming-appointments">
  <div class="coming-soon-content">
    <div class="info-message">
      <i class="bi bi-tools"></i>
      <p>This feature is under development<br>and will be available soon.</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-primary">OK</button>
</mat-dialog-actions>